@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-weight: 400;
    font-family: 'fira-mono';
    src: url("/fonts/Fira_Mono/FiraMono-Regular.ttf");
  }
  @font-face {
    font-weight: 700;
    font-family: 'fira-mono';
    src: url("/fonts/Fira_Mono/FiraMono-Bold.ttf");
  }
  
  @font-face {
    font-family: 'fira-code';
    src: url("/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf");
  }

  @font-face {
    font-family: 'open-sans';
    src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  }

  @font-face {
    font-family: 'open-sans';
    font-style: italic;
    src: url("/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf");
  }

  /* Japanese font */
  @font-face {
    font-weight: 100;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-thin.ttf");
  }
  @font-face {
    font-weight: 300;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-Light.ttf");
  }
  @font-face {
    font-weight: 400;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-Regular.ttf");
  }
  @font-face {
    font-weight: 500;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-Medium.ttf");
  }
  @font-face {
    font-weight: 700;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-Bold.ttf");
  }
  @font-face {
    font-weight: 800;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-ExtraBold.ttf");
  }
  @font-face {
    font-weight: 900;
    font-family: 'm-plus-1p';
    src: url("/fonts/M_PLUS_1P/MPLUS1p-Black.ttf");
  }
}

@layer components {
  .container {
    margin: 0 auto;
    padding: 1rem;
  }
}

@layer utilities {
  .clip {
    clip-path: polygon(0 0, 100% 0, 100% 68%, 61% 68%, 61% 100%, 0 100%);
  }

  .clip-parent {
    filter: url(#round);
  }
}

/* cambiar los colores */
body {
  color: theme('colors.white');
  background-color: theme('colors.black');
}